<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <logger name="Default">
      <!--高到低依次为:  None  Fatal ERROR WARN  DEBUG INFO  ALL  -->
      <level value="ALL" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="InfoAppender" />
    </logger>
    
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Infos\" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="/yyyyMM/yyyyMMdd&quot;.txt&quot;" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="500KB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss.fff}][%level][%thread]:%message%newline%exception" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <!--None  Fatal ERROR WARN  DEBUG INFO  ALL 高到低 -->
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Errors\" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMM/yyyyMMdd&quot;.txt&quot;" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="500KB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date{HH:mm:ss.fff}][%level][%thread]:%message%newline%exception" />
        <!--<conversionPattern value="********** %date{HH:mm:ss.fff} [%level] [%thread] ********** %newline%exception代码出处:[%location]%newline%message%newline**********************************************%newline" />-->
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

  </log4net>
</configuration>