<?xml version="1.0"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <appSettings>
    <add key="AppCaption" value="河北胸科医院护理资源管理系统" />
    <add key="AppUpdaterUrl" value="http://192.168.2.200:10055/hlgl_updateFiles" />
    <add key="ConnStringEncrypt" value="false" />
    <add key="IsExamination" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--
    <add name="main" connectionString="6PGa4XKUqh44PMResU++9eyEKN9dmhGCmHhq6uooVrLXFwvST2xcLg=="/>
	-->
    <!--本机-->
    <!--
	<add name="main" connectionString="C0csM+GHSR5ZgT2d5nQ1cJ3hhNvWoNdMx8PohtWqzFKRRz1cvzMhYQ=="/>-->
    <!--外网远程-->
    <!--<add name="main" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=1.58.124.134)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=moibledemo)));Persist Security Info=True;User ID=hlgl;Password=hlgl;"/>-->
    <!--胸科-->
    <add name="main" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.2.200)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=hlgl;Password=hlgl;" />
    <!--胸科-->
    <!--<add name="main" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=1.58.124.134)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hlgl)));Persist Security Info=True;User ID=hlgl;Password=hlgl;"/>-->
    <!--本地测试-->
    <!--<add name="main" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True;User ID=hlgl;Password=hlgl;"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>