<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/JqueryMobile/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <script src="~/JqueryMobile/jquery.min.js"></script>
    <script src="~/JqueryMobile/jquery.mobile-1.4.5.js"></script>
    <script src="~/JqueryMobile/jquery.mobile.me.js"></script>

@RenderSection("Head", required: false)
</head>
<body>
@RenderBody()
</body>
</html>
